/*Header navigation  styling*/
.navbar {
  background-color: rgb(146, 252, 252);
  width: 100%;
  position: fixed;
  top: 0;
}

/* Naviagtion links in the header menu bar */
.navbar a {
  display: block;
  float: right;
  text-decoration: none;
  padding: 2vw;
  font-family: Helvetica, Arial;
  font-size: 2.2vh;
  color: #003153;

}


/*The website font*/
.body {
  font-family: "Work Sans", poppin, lato, serif;
  font-optical-sizing: auto;
  line-height: 1.5;
  font-weight: 300;
  font-style: normal;
}

/*Body of the website page*/
body {
  background-color: #f9f9f9;
  color: #003153;
}

/*Rabiat's headshot on the webpage*/
.rabiat {
  margin-top: 5vw;
  width: 20%;
  height: 25%;
  display: flex;
  justify-self: center;
  border-radius: 50% 50%/100% 0 50%;

}

/*Mainheading*/
h1 {
  margin-top: 0%;
  text-align: center;
  color: rgb(7, 49, 36);
  font-size: xx-large;
  font-weight: bolder;
  font-style: oblique;
}

h2 {
  margin-bottom: 0%;
}
/*Paragraphs of the webpage*/
p {
  margin: 1%;
  text-align: justify;
}

/*Experiences containers*/
.container {
  display: flex;
  margin: 2vw;
}

/*Job title and date in the experience container*/
.container p {
  flex: 1 1 auto;
  text-align: justify;
}

/*Ordered lists in the webpage*/
li {
  text-align: left;
  margin-top: 2px;
  margin-bottom: 2px;
  border-block-style: dotted #f9f9f9;

}


/*Social link description*/
.connect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-style: oblique;

}

/*Actual Social link*/
.skill-icons--linkedin {
  display: flex;
  justify-self: center;
  width: 5vw;
  height: 5vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Cg fill='none'%3E%3Crect width='256' height='256' fill='%23fff' rx='60'/%3E%3Crect width='256' height='256' fill='%230a66c2' rx='60'/%3E%3Cpath fill='%23fff' d='M184.715 217.685h29.27a4 4 0 0 0 4-3.999l.015-61.842c0-32.323-6.965-57.168-44.738-57.168c-14.359-.534-27.9 6.868-35.207 19.228a.32.32 0 0 1-.595-.161V101.66a4 4 0 0 0-4-4h-27.777a4 4 0 0 0-4 4v112.02a4 4 0 0 0 4 4h29.268a4 4 0 0 0 4-4v-55.373c0-15.657 2.97-30.82 22.381-30.82c19.135 0 19.383 17.916 19.383 31.834v54.364a4 4 0 0 0 4 4M38 59.628c0 11.864 9.767 21.626 21.632 21.626c11.862-.001 21.623-9.769 21.623-21.631C81.253 47.761 71.491 38 59.628 38C47.762 38 38 47.763 38 59.627m6.959 158.058h29.307a4 4 0 0 0 4-4V101.66a4 4 0 0 0-4-4H44.959a4 4 0 0 0-4 4v112.025a4 4 0 0 0 4 4'/%3E%3C/g%3E%3C/svg%3E");
}

@media screen and (max-width: 1000px) {
  .navbar a {
    display: none;
  }

  .navbar .hamburger {
    display: block;
    width: 15px;
    height: 3px;
    margin: 3px;
    background-color: #003153;
  }

  .mobile-icon:hover {
    background-color: rgb(224, 217, 230);
    cursor: pointer;
    width: 20px;
    max-height: 40px;
  }
  
  .container p {
    flex: 1 1;
    text-align: justify;

  }




}